[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = ".next"

[build.environment]
  NODE_VERSION = "22.17.0"
  NODE_ENV = "production"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false

[[headers]]
  for = "/.next/*"
    [headers.values]
      Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/api/*"
    [headers.values]
      Cache-Control = "public, max-age=60, must-revalidate"
